on: [push, pull_request]

permissions:
  pull-requests: write

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Try Diff Context
        uses: ./
        with:
          lang: "python"
          openai_api_key: ${{ secrets.OPENAI_API_KEY }}
